<div class="text-center header">
  <h2 class="mb-0 font-weight-normal">Activate your repos</h2>
  <h2 class="mb-0 font-weight-normal">and let us analyze them!</h2>
</div>
<div class="position-relative d-flex justify-content-center align-items-center bubble__wrapper">
  <div class="bubble bubble--repos"></div>
  <div class="position-relative mx-4 arrow"></div>
  <div class="bubble bubble--branches"></div>
  <div class="position-relative mx-4 arrow"></div>
  <div class="bubble bubble--wait"></div>
</div>
<div class="px-3 d-flex justify-content-center instruction__wrapper">
  <div class="mr-3 d-flex align-items-start instruction">
    <img class="mr-2"
         src="/assets/img/repo-list/description/code.svg">
    <div class="d-flex flex-column align-items-start instruction__content">
      <span class="font-weight-bold">1. Activate your repos</span>
      <span class="text-left text-secondary instruction__text">
        Activate any amount of repositories from the list to start detecting issues in them.
      </span>
    </div>
  </div>
  <div class="mr-3 d-flex align-items-start instruction">
    <img class="mr-2"
         src="/assets/img/repo-list/description/branches.svg">
    <div class="d-flex flex-column align-items-start instruction__content">
      <span class="font-weight-bold">2. Specify branches</span>
      <span class="text-left text-secondary instruction__text">
        You can choose the branch you want us to analyze. The default branch will be selected by default.
      </span>
    </div>
  </div>
  <div class="mr-3 d-flex align-items-start instruction">
    <img class="mr-2"
         src="/assets/img/repo-list/description/clock.svg">
    <div class="d-flex flex-column align-items-start instruction__content">
      <span class="font-weight-bold">3. Wait for results</span>
      <span class="text-left text-secondary instruction__text">
        When we finish the analysis, we'll notify you by email so you can come back and review the issues found.
      </span>
    </div>
  </div>
</div>
<div class="d-flex justify-content-between w-100 px-3 modal-actions">
  <df-checkbox (change)="onCheckboxChange($event)">Don't show this again</df-checkbox>
  <button class="button"
          type="button"
          theme="warning"
          df-button
          (click)="onGotItClick()">
    Got it! Let's start!
  </button>
</div>
