<div class="container-fluid mt-3">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-between align-items-center">
        <app-navigation-tabs class="position-relative navigation" [tabs]="tabs">
        </app-navigation-tabs>
        <div class="d-flex justify-content-between align-items-center" *ngIf="hasActiveRepo()">
          <button class="button"
                  type="button"
                  theme="warning"
                  df-button
                  (click)="analyze()">
            Analyze my code
          </button>
        </div>
      </div>
      <ng-container>
        <app-repo-grid
          [repoPageSubject]="repositoryStore.repoPage"
          [loadedSubject]="repositoryStore.loaded"
          (addRepoClick)="redirectToCodeRamp()"
          (activate)="activateRepos($event)"
          (pageChange)="onPageChange($event)">
        </app-repo-grid>
      </ng-container>
    </div>
  </div>
</div>
<ng-template #description let-close="close">
  <app-description [close]="close"></app-description>
</ng-template>
