<div class="mb-3 px-3 mb-sm-5 d-flex flex-column justify-content-center align-items-center hero">
  <img
    class="mb-5 hero__logo"
    src="assets/img/landing/codefix-logo.svg"
    alt="CodeFix's logo">
  <h4 class="mb-5 text-center font-weight-light">Lorem, ipsum dolor sit amet consectetur adipisicing.</h4>
  <app-button
    class="hero__button"
    icon="fa-github"
    text="Log in with GitHub"
    (click)="login()">
  </app-button>
</div>
<div class="container steps">
  <div class="row">
    <div class="col-12 offset-xl-1 col-xl-10">
      <div class="row mb-sm-5 pt-3 pt-sm-5">
        <div class="mb-5 mb-sm-0 col-12 col-sm-4 d-flex flex-column align-items-center">
          <i
            class="fa fa-check-circle fa-3x fa-blue mb-3"
            aria-hidden="true">
          </i>
          <h3 class="mb-3">Lorem</h3>
          <h5 class="mb-0 text-center font-weight-light">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi itaque temporibus ullam possimus natus.
            Sequi rerum sint sunt neque magnam.
          </h5>
        </div>
        <div class="mb-5 mb-sm-0 col-12 col-sm-4 d-flex flex-column align-items-center">
          <i
            class="fa fa-share-alt fa-3x fa-blue mb-3"
            aria-hidden="true">
          </i>
          <h3 class="mb-3">Ipsum</h3>
          <h5 class="mb-0 text-center font-weight-light">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis iure laborum laboriosam.
            Exercitationem repellendus similique vitae vel delectus tempore ab?
          </h5>
        </div>
        <div class="mb-sm-0 col-12 col-sm-4 d-flex flex-column align-items-center">
          <i
            class="fa fa-code fa-3x fa-blue mb-3"
            aria-hidden="true">
          </i>
          <h3 class="mb-3">Dolor</h3>
          <h5 class="mb-0 text-center font-weight-light">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos sapiente veritatis exercitationem,
            assumenda voluptatem officiis pariatur?
          </h5>
        </div>
      </div>
      <div class="row mb-sm-5">
        <div class="col-12">
          <hr class="my-5">
        </div>
      </div>
      <div class="row mb-sm-5">
        <div class="order-2 order-sm-1 col-12 col-sm-7 d-flex flex-column align-items-start">
          <h1 class="mb-3">Adipisicing</h1>
          <h5 class="mb-4 font-weight-light text-left">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error tempore voluptates est placeat velit
            dolorem nobis quo non perspiciatis totam facere, minima numquam illo rerum, quaerat tenetur perferendis
            quos sequi.
          </h5>
          <app-button
            icon="fa-github"
            text="Log in with GitHub"
            (click)="login()">
          </app-button>
        </div>
        <div class="order-1 order-sm-2 mb-3 mb-sm-0 col-6 col-sm-5 px-md-5">
          <img
            class="img-fluid"
            src="assets/img/landing/route.svg"
            alt="Route">
        </div>
      </div>
      <div class="row mb-sm-5">
        <div class="col-12">
          <hr class="my-5">
        </div>
      </div>
      <div class="row mb-sm-5">
        <div class="mb-3 mb-sm-0 offset-7 offset-sm-0 col-5 px-md-5">
          <img
            class="img-fluid"
            src="assets/img/landing/stats.svg"
            alt="Statistics">
        </div>
        <div class="col-12 col-sm-7 d-flex flex-column align-items-end align-items-sm-start">
          <h1 class="mb-3">Amet</h1>
          <h5 class="mb-4 font-weight-light text-right text-sm-left">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error tempore voluptates est placeat velit
            dolorem nobis quo non perspiciatis totam facere, minima numquam illo rerum, quaerat tenetur perferendis
            quos sequi.
          </h5>
          <app-button
            icon="fa-github"
            text="Log in with GitHub"
            (click)="login()">
          </app-button>
        </div>
      </div>
      <div class="row mb-sm-5">
        <div class="col-12">
          <hr class="my-5">
        </div>
      </div>
      <div class="row mb-sm-5">
        <div class="order-2 order-sm-1 col-12 col-sm-7 d-flex flex-column align-items-start">
          <h1 class="mb-3">Totam</h1>
          <h5 class="mb-4 font-weight-light text-left">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error tempore voluptates est placeat velit
            dolorem nobis quo non perspiciatis totam facere, minima numquam illo rerum, quaerat tenetur perferendis
            quos sequi.
          </h5>
          <app-button
            icon="fa-github"
            text="Log in with GitHub"
            (click)="login()">
          </app-button>
        </div>
        <div class="order-1 order-sm-2 mb-3 mb-sm-0 col-6 col-sm-5 px-md-5">
          <img
            class="img-fluid"
            src="assets/img/landing/visa-mc.svg"
            alt="Credit Cards">
        </div>
      </div>
      <div class="row mb-sm-5">
        <div class="col-12">
          <hr class="my-5">
        </div>
      </div>
      <div class="row mb-sm-5">
        <div class="mb-3 mb-sm-0 offset-7 offset-sm-0 col-5 px-md-5">
          <img
            class="img-fluid"
            src="assets/img/landing/atom.svg"
            alt="Atom">
        </div>
        <div class="col-12 col-sm-7 d-flex flex-column align-items-end align-items-sm-start">
          <h1 class="mb-3">Nobis</h1>
          <h5 class="mb-4 font-weight-light text-right text-sm-left">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error tempore voluptates est placeat velit
            dolorem nobis quo non perspiciatis totam facere, minima numquam illo rerum, quaerat tenetur perferendis
            quos sequi.
          </h5>
          <app-button
            class="mb-5"
            icon="fa-github"
            text="Log in with GitHub"
            (click)="login()">
          </app-button>
        </div>
      </div>
    </div>
  </div>
</div>
