<div class="container-fluid mt-3">
  <df-card>
    <df-card-header class="p-3 d-flex justify-content-between">
      <h4 class="mb-0 d-flex align-items-center">Terms of Service</h4>
    </df-card-header>
    <df-card-content class="p-4 col d-flex flex-column">
      <p>
        These terms of service (<b>“Terms”</b>) cover your use and access to our DevSpaces services, and related client
        software, apps and websites ("Services").
        Your agreement is with DevFactory FZ-LLC (<b>“DevFactory”, “we” “us, “our”). “You”</b> means the business entity
        which has completed our online registration form that references these Terms.
        In the process of registering with our Services, you will set up user names and passwords (<b>“Credentials”</b>)
        for your
        employees and agents acting solely on behalf of you, over whom you exercise sufficient control to bind them to
        these Terms (<b>“Users”</b>) to access our Services.
        You agree that you will only provide Credentials to Users. By using our Services for an organization, you’re
        agreeing to these Terms on behalf of that organization.
      </p>
      <b>Your Information</b>
      <p>
        When you use our Services, you provide us with files, content, messages, contacts, and similar information (<b>“Your
        Information”</b>).
        Your Information is yours. These Terms don’t give us any rights to Your Information except for
        the limited rights that enable us to offer the Services. For example, you give us permission to host and back up
        Your Information, and this permission extends to our affiliates and trusted third parties we work with.
        You grant to us a perpetual, irrevocable, royalty-free, non-exclusive, worldwide license,
        with right of sublicense, to use, copy, reproduce or have reproduced, edit, combine, modify, merge, make
        derivative works,
        translate, enhance, import or have imported, cache, demonstrate or have demonstrated, market or have marketed,
        and otherwise publish Your Information, by way of any medium now known or devised in the future. </p>
      <b> Your Responsibilities </b>
      <p>
        You may use our Services only as permitted by applicable law, including export control laws and
        regulations. </p>
      <p>
        You may not rent, lease, lend, sell, redistribute or sublicense Services.
        You may not copy, decompile, reverse engineer, disassemble, attempt to derive the source code of, modify,
        or create derivative works of the Services or any part thereof (except
        as and only to the extent any foregoing restriction is prohibited by applicable law).
        Any attempt to do so is a violation of the rights of DevFactory.
        If you breach this restriction, you may be subject to prosecution and damages. These terms shall
        govern any upgrades provided by us that replace and/or supplement the original Services, unless such upgrade is
        accompanied by a separate license in which case, the terms of that license will govern. The license set forth in
        the Terms is a term
        license that will expire or terminate in accordance with these Terms.
      </p>
      <p>
        You agree not to misuse the Services or help anyone else to do so.
        For example, you may not do any of the following in connection with the Services:
      </p>
      <ul>
        <li>
          share your login information with any third parties;
        </li>
        <li>
          attempt to resell or charge any fee for use of the Services or content contained therein;
        </li>
        <li>
          access the Services content for purposes of monitoring its availability, performance, functionality,
          or for any other benchmarking for the purposes of selling services that are competitive to Services;
        </li>
        <li>
          probe, scan, or test the vulnerability of any system or network;
        </li>
        <li>
          breach or otherwise circumvent any security or authentication measures;
        </li>
        <li>
          access, tamper with, or use non-public areas or parts of the Services, or shared areas of the Services you
          haven't been invited to;
        </li>
        <li>
          interfere with or disrupt any user, host, or network, for example by sending a virus, overloading, flooding,
          spamming, or mail-bombing any part of the Services;
        </li>
        <li>
          access, search, or create accounts for the Services by any means other than our publicly supported interfaces
          (for example, "scraping" or creating accounts in bulk);
        </li>
        <li>
          send unsolicited communications, promotions or advertisements, or spam;
        </li>
        <li>
          send altered, deceptive or false source-identifying information, including "spoofing" or "phishing";
        </li>
        <li>
          circumvent storage space limits;
        </li>
        <li>
          harass or abuse DevFactory personnel or representatives or agents performing services on behalf of DevFactory;
        </li>
        <li>
          violate the law in any way, including storing, publishing or sharing material that's fraudulent, defamatory,
          or misleading; or
        </li>
        <li>
          violate the privacy or infringe the rights of others.
        </li>
      </ul>
      <b> Software </b>
      <p>
        Some of our Services allow you to download client software (<b>“Software”</b>) which may update automatically.
        So long as you comply with these Terms, we give you a limited, nonexclusive, nontransferable, revocable license
        to use
        the Software, solely to access the Services. To the extent any component of the Software may be offered under an
        open source license,
        we’ll make that license available to you and the provisions of that license may expressly override some of these
        Terms. Unless the following restrictions are prohibited by law, you agree not to reverse engineer or decompile
        the Services, attempt to do so,
        or assist anyone in doing so.
      </p>
      <b> Beta Services </b>
      <p> If we release products and features that we are still testing and evaluating, those Services are marked beta,
        preview, early access,
        or evaluation and may not be as reliable as DevFactory’s other services.
      </p>
      <b> Our Information </b>
      <p>
        The Services are protected by copyright, trademark, and other US and foreign laws.
        These Terms don’t grant you any right, title, or interest in the Services,
        others’ content in the Services, DevFactory trademarks, logos and other brand features.
        We welcome feedback, but note that we may use comments or suggestions without any obligation to you.
      </p>
      <b> Billing </b>
      <p><i>Billing</i>.
        You can order the Services by completing an online
        <b>“Registration Form” for an "Account.”</b>
        The first two months of Service on your Account will be offered to you free of charge, then you will
        be required to provide your credit card payment information.
        We’ll automatically bill you for your Account starting on the first day of the third month of Service
        and on each periodic renewal until termination.
      </p>
      <p><i>No Refunds</i>.
        If your Account terminates, all payments are non-refundable.
      </p>
      <p><i>Downgrades</i>.
        Your Account will remain in effect until it's terminated under these Terms.
        If you don’t pay for your Account on time, we reserve the right to suspend or reduce your Services.
      </p>
      <p><i>Changes</i>.
        We may change the fees in effect but will give you advance notice of these changes via a message to the email
        address associated with your account. </p>
      <b> Termination </b>
      <p>
        These Terms shall be valid for the period more specifically described in the Order Form accepted by you for the
        Services.
        These Terms may be terminated by either you or DevFactory, subject to a notice of thirty (30) days being
        provided to the other
        party. Such notice, where applicable, shall be provided by DevFactory to you directed at the email ID provided
        by you during the process of registration with DevFactory’s website; and by you to DevFactory directed at [ ].
        Upon termination, your
        access to the Services will cease with immediate effect.
      </p>
      <p>
        We reserve the right to suspend or terminate your access to the Services with notice to you if:
      </p>
      <ul class="clean-ul">
        <li> (a) you’re in breach of these Terms, or</li>
        <li> (b) you’re using the Services in a manner that would cause risk of harm or loss to us or other users.</li>
      </ul>
      <p> We’ll provide you with reasonable advance notice via the email address associated with your account to remedy
        the activity that prompted us to contact you and give you the opportunity to export Your Information from our
        Services. If after such notice
        you fail to take the steps we ask of you, we’ll terminate or suspend your access to the Services.
      </p>
      <p> We won’t provide notice before termination where: </p>
      <ul class="clean-ul">
        <li>(a) you’re in material breach of these Terms,</li>
        <li>(b) doing so would cause us legal liability or compromise our ability to provide the Services to our other
          users, or
        </li>
        <li>(c) we're prohibited from doing so by law.</li>
      </ul>
      <b> Discontinuation of Services </b>
      <p> We may decide to discontinue the Services in response to unforeseen circumstances beyond DevFactory’s control
        or to comply with a legal requirement. If we do so, we’ll give you reasonable prior notice so that you can
        export Your Information from
        our systems. If we discontinue Services in this way before the end of any fixed or minimum term you have paid us
        for, we’ll refund the portion of the fees you have pre-paid but haven't received Services for.
      </p>
      <b> Services <b>“AS IS”</b></b>
      <p>
        We strive to provide great Services, but there are certain things that we can't guarantee. The Services
        synchronize information. DevFactory is not responsible for any error by our Software or other environmental,
        third party, or other factors that
        might lead to corruption of Your Information. You must backup Your Information prior to using the Service. TO
        THE FULLEST EXTENT PERMITTED BY LAW, DEVFACTORY AND ITS AFFILIATES, SUPPLIERS AND DISTRIBUTORS MAKE NO
        WARRANTIES, EITHER EXPRESS OR
        IMPLIED, ABOUT THE SERVICES. THE SERVICES ARE PROVIDED "AS IS." WE ALSO DISCLAIM ANY WARRANTIES OF
        MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT.
      </p>

      <b> Limitation of Liability </b>
      <p>
        DEVFACTORY, ITS AFFILIATES, SUPPLIERS OR DISTRIBUTORS WON’T BE LIABLE FOR: </p>
      <ul class="clean-ul">
        <li> i. ANY INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, EXEMPLARY, OR CONSEQUENTIAL DAMAGES, OR</li>
        <li> ii. ANY LOSS OF USE, DATA, BUSINESS, PROFITS, GOODWILL, REPUTATION, OR OTHER INTANGIBLE DAMAGES OR LOSSES
          REGARDLESS OF LEGAL THEORY.
        </li>
      </ul>
      <p> THESE EXCLUSIONS OR LIMITATIONS WILL APPLY UNDER ANY CONTRACT, OR TORT, INCLUDING WITHOUT LIMITATION
        NEGLIGENCE, STRICT LIABILITY, OR OTHER LEGAL THEORY, HOWEVER CAUSED REGARDLESS OF WHETHER OR NOT DEVFACTORY OR
        ANY OF ITS AFFILIATES HAS BEEN WARNED
        OF THE POSSIBILITY OF SUCH DAMAGES.
      </p>
      <p> DEVFACTORY, ITS AFFILIATES, SUPPLIERS OR DISTRIBUTORS WILL HAVE NO LIABILITY TO YOU FOR ANY LOSS OF PROFIT,
        LOSS OF BUSINESS, BUSINESS INTERRUPTION, OR LOSS OF BUSINESS OPPORTUNITY. DEVFACTORY AND ITS AFFILIATES AREN’T
        RESPONSIBLE FOR THE CONDUCT,
        WHETHER ONLINE OR OFFLINE, OF ANY USER OF THE SERVICES.
      </p>
      <p> YOUR SOLE REMEDY FOR DISSATISFACTION WITH THE SERVICES IS TO STOP ACCESSING THE SERVICES AND TERMINATE THESE
        TERMS. IN THE EVEN THAT THE FOREGOING DISCLAIMER OF LIABILITY IS HELD TO BE INVALID OR UNENFORCEABLE, YOU AGREE
        THAT OUR AGGREGATE LIABILITY
        TO YOU FOR ALL DAMAGES, LOSSES, AND CAUSES OF ACTION WHETHER IN CONTRACT, OR TROT, INCLUDING WITHOUT LIMITATION,
        NEGLIGENCE, STRICT LIABILITY, OR OTHERWISE, IS LIMITED TO THE GREATER OF $20 USD OR 100% OF ANY AMOUNT YOU'VE
        PAID FOR THE SERVICES
        IN THE 12 MONTHS GIVING RISE TO THE FILING OF SUCH CLAIM.
      </p>
      <b> Governing Law </b>
      <p> These Terms shall be governed by and construed in accordance with the laws in the State of Texas, without
        regard to conflict of laws’ provisions. You hereby irrevocably consent to the exclusive jurisdiction of the
        courts in Travis County, Texas
        for all disputes arising out of or relating to the use of the Services.
      </p>
      <b> Waiver, Severability &amp; Assignment </b>
      <p> If any provision of these Terms is found to be unlawful, void or unenforceable, then that provision shall be
        deemed severable from the Terms and shall not affect the validity and enforceability of any remaining
        provisions. These Terms shall not
        be assignable or transferable by you except with the our prior written consent. No waiver by us of any breach,
        default or condition hereunder shall be deemed to be a waiver of any other preceding or subsequent breach,
        default or condition. Any
        heading, caption or section title contained in these Terms is inserted only as a matter of convenience and in no
        way defines or explains any section or provision hereof. The Terms, together with the Registration Form accepted
        by you, constitutes
        the entire agreement between you and us relating to the subject matter herein and supersedes any or all prior or
        contemporaneous written or oral agreements.
      </p>
      <b> Modifications </b>
      <p>
        We, in our sole discretion, reserve the right to modify the Terms from time to time, without notice by updating
        this link. Your continued use of the Services shall constitute your acceptance of such modifications.
      </p>
      <p>
        You certify that you have read and understood the above terms and that you agree to be bound by these Terms.
      </p>
      <p>
        BY CLICKING THE <b>“ACCEPT”</b> BUTTON, OR BY USING THE WEB-LINK AND/OR APP AND/OR ACCESSING ANY SERVICES, YOU
        INDICATE YOUR ACCEPTANCE AND YOUR CONCURRENCE TO BE BOUND BY THESE TERMS. IF YOU DO NOT AGREE TO THESE TERMS,
        PLEASE
        DO NOT CLICK ON THE <b>“ACCEPT”</b> BUTTON AND DO NOT USE THE WEB-LINK AND/OR APP AND ACCESS THE SERVICES.
      </p>
    </df-card-content>

    <df-card-footer class="justify-content-center">
      <button
        class="mr-2"
        type="button"
        theme="info"
        df-button
        (click)="onAcceptClick()">
        Accept
      </button>
      <button
        type="button"
        theme="danger"
        df-button
        (click)="onCancelClick()">
        Cancel
      </button>
    </df-card-footer>
  </df-card>
</div>
